@model IEnumerable<ClinicaWEB.Models.UsuarioModel>

@{
    ViewBag.Title = "Listado Usuarios Deshabilitados";
}

<h2>Listado de Usuarios Deshabilitados</h2>

<p>
 @*   @Html.ActionLink("Create New", "Create")*@
</p>
<table class = "table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
@*        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
   @*     <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>*@
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
            @Html.ActionLink("Rehabilitar", "Rehabilitar", new { id = item.IdUsuario })
        </td>
    </tr>
}

</table>

@Html.ViewBag.mensaje 
 <div>
        @Html.ActionLink("Volver a la lista de Usuarios Habilitados", "Listar")
        </div>
<p>
<p<></p>