<div class="list-group">
  @Html.ActionLink("Afiliados", "Listar", "ABMAfiliado", null, new { @class = "list-group-item" })
  @Html.ActionLink("Especialidades médicas", "Index", "ABMEspMedica", null, new { @class = "list-group-item" })
  @Html.ActionLink("Planes", "Listar", "Planes", null, new { @class = "list-group-item" })
  @Html.ActionLink("Profesionales", "Listar", "Profesionales", null, new { @class = "list-group-item" })
  @*@Html.ActionLink("Roles", "Listar", "RolController")*@
  @Html.ActionLink("Usuarios", "Listar", "Usuarios", null, new { @class = "list-group-item" })
  @*@Html.ActionLink("Compra de Bonos", "Listar", "ABMAfiliadoController")
  @Html.ActionLink("Pedido de turnos", "Listar", "ABMAfiliadoController")
  @Html.ActionLink("Agenda", "Listar", "ABMAfiliadoController")
  @Html.ActionLink("Registrar llegada", "Listar", "ABMAfiliadoController")
  @Html.ActionLink("Recetas", "Listar", "ABMAfiliadoController")
  @Html.ActionLink("Estadísticas", "Listar", "ABMAfiliadoController")
  @Html.ActionLink("Diagnóstico", "Listar", "ABMAfiliadoController")*@
</div>